target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

.idea
*.iml
twitterwall2.iml
todo.txt
tw.txt
twitterwall.log
twitterwall.log*
maven-build.log
maven-build.log.txt
maven-testing.log.txt
spring-boot.log.txt
maven-testing-site.log.txt
test.log.txt

test/twitterwall.log.txt
test/twitterwall.log.txt*
test/maven-build.log
test/maven-build.log.txt
test/maven-testing.log.txt
test/spring-boot.log.txt
test/maven-testing-site.log.txt
test/test.log.txt

.m2

docs2
docs-site-deployed
.bundle
.sass-cache
Gemfile.lock
_site
*.gem
todo.txt
