<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.woehlke.twitterwall.oodm.model.listener" level="WARN" />
    <logger name="org.woehlke.twitterwall.oodm.repositor" level="INFO" />
    <logger name="org.woehlke.twitterwall.oodm.service" level="INFO" />
    <logger name="org.woehlke.twitterwall.oodm.model" level="INFO" />
    <logger name="org.woehlke.twitterwall.frontend.rest" level="INFO" />
    <logger name="org.woehlke.twitterwall.frontend.model" level="INFO" />
    <logger name="org.woehlke.twitterwall.frontend.handler" level="INFO" />
    <logger name="org.woehlke.twitterwall.frontend.controller" level="INFO" />
    <logger name="org.woehlke.twitterwall.frontend.common" level="INFO" />
    <logger name="org.woehlke.twitterwall.frontend.application" level="INFO" />
    <logger name="org.woehlke.twitterwall.exceptions.remote" level="INFO" />
    <logger name="org.woehlke.twitterwall.exceptions.common" level="INFO" />
    <logger name="org.woehlke.twitterwall.backend.service.backend" level="INFO" />
    <logger name="org.woehlke.twitterwall.backend.service.facade" level="INFO" />
    <logger name="org.woehlke.twitterwall.backend.service.persist" level="INFO" />
    <logger name="org.woehlke.twitterwall.backend.service.persist.impl" level="ERROR" />
    <logger name="org.woehlke.twitterwall.backend.service.transform" level="INFO" />
    <logger name="org.woehlke.twitterwall.backend.service.remote.impl" level="ERROR" />
    <logger name="org.woehlke.twitterwall.configuration" level="INFO" />
    <logger name="org.woehlke.twitterwall" level="WARN" />
    <logger name="org.apache.http" level="WARN" />
    <logger name="org.apache.tomcat" level="WARN" />
    <logger name="javax.persistence" level="WARN" />
    <logger name="org.springframework.data.jpa.repository.query" level="ERROR" />
    <logger name="org.hibernate.orm.deprecation" level="ERROR" />
    <logger name="org.springframework" level="INFO" />
    <logger name="org.hibernate" level="WARN" />
    <logger name="ch.qos.logback" level="WARN" />
    <logger name="org.hibernate.SQL" level="WARN" />
    <logger name="ch.qos.logback" level="WARN" />
    <logger name="org.apache.http.client.protocol" level="ERROR" />
    <logger name="org.hibernate.engine.jdbc.spi" level="ERROR" />
    <root level="INFO"></root>
</configuration>
