<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head  th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<header th:include="layoutMain :: tw-header" >
</header>
<main class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span  class="tw-pager-arrow tw-pager-up"  th:if="${myPageContent.hasPrevious()}">
                    <a href="" th:href="@{|/tickersymbol/all?page=${myPageContent.previousPageable().pageNumber}|}">
                        <span>
                        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                        </span>
                    </a>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <table class="table table-striped">
                        <thead th:include="layoutDataview :: tw-data-view-thead">
                        </thead>
                        <tbody>
                        <tr th:each="myPageItem : ${myPageContent}">
                            <td>
                                <span>
                                    <span class="tw-vector">
                                        <i class="fa fa-database" aria-hidden="true"></i>
                                        <a href="" th:href="@{|/tickersymbol/${myPageItem.id}|}">
                                            <span th:text="${myPageItem.id}">id</span>
                                        </a>
                                    </span>
                                </span>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-3">tickerSymbol:</div>
                                    <div class="col-md-9">
                                        <span th:text="${myPageItem.tickerSymbol}">tickerSymbol</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">url:</div>
                                    <div class="col-md-9">
                                        <a href="" th:href="@{|${myPageItem.url}|}" target="_blank">
                                            <span th:text="${myPageItem.url}">url</span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span th:include="layoutDataview :: tw-data-view-common-fields" th:with="myPageItem=${myPageItem}"></span>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot th:include="layoutDataview :: tw-data-view-tfoot">
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="tw-pager-arrow tw-pager-down" th:if="${myPageContent.hasNext()}">
                    <a href="" th:href="@{|/tickersymbol/all?page=${myPageContent.nextPageable().pageNumber}|}" >
                        <span>
                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                        </span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</main>

<section th:include="layoutMain :: tw-history-back-section" >
</section>

<footer th:include="layoutMain :: footer" >

</footer>
</body>
</html>
