<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head  th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<header th:include="layoutMain :: tw-header" >
</header>
<main class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span  class="tw-pager-arrow tw-pager-up"  th:if="${myPageContent.hasPrevious()}">
                    <a href="" th:href="@{|/taskhistory/all?page=${myPageContent.previousPageable().pageNumber}|}">
                        <span>
                        <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                        </span>
                    </a>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <a href="/task/all" th:href="@{/task/all}">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <span>Tasks</span>
                    </a>
                </div>
                <div class="well">
                    <table class="table table-striped">
                        <thead th:include="layoutDataview :: tw-data-view-thead">
                        </thead>
                        <tbody>
                        <tr th:each="myPageItem : ${myPageContent}">
                            <td>
                                <span th:include="layoutDataview :: tw-data-view-id" th:with="myPageItem=${myPageItem}"></span>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-3">description:</div>
                                    <div class="col-md-9">
                                        <span th:text="${myPageItem.description}">description</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">taskStatusBefore:</div>
                                    <div class="col-md-9">
                                        <span th:text="${myPageItem.taskStatusBefore}">taskStatusBefore</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">taskStatusNow:</div>
                                    <div class="col-md-9">
                                        <span th:text="${myPageItem.taskStatusNow}">taskStatusNow</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">timeEvent:</div>
                                    <div class="col-md-9">
                                        <span th:text="${myPageItem.timeEvent}">timeEvent</span>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        </tbody>
                        <tfoot th:include="layoutDataview :: tw-data-view-tfoot">
                        </tfoot>
                    </table>
                </div>
                <div class="well">
                    <a href="/task/all" th:href="@{/task/all}">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <span>Tasks</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="tw-pager-arrow tw-pager-down" th:if="${myPageContent.hasNext()}">
                    <a href="" th:href="@{|/taskhistory/all?page=${myPageContent.nextPageable().pageNumber}|}" >
                        <span>
                        <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                        </span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</main>

<section th:include="layoutMain :: tw-history-back-section" >
</section>

<footer th:include="layoutMain :: footer" >

</footer>
</body>
</html>
