<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head  th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<header th:include="layoutMain :: tw-header" >
</header>

<section th:include="layoutMain :: tw-history-back-section" >
</section>

<main class="page-content">
    <div class="container">
        <div th:fragment="tw-data-view-above">
            <div class="row">
                <div class="col-md-12">
                    <span  class="tw-pager-arrow tw-pager-up" th:if="${listObject2Entity.hasPrevious()}">
                        <a href="" th:href="@{|/application/countedEntities/${nameObject}/${nameEntity}?page=${listObject2Entity.previousPageable().pageNumber}|}">
                            <span>
                            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                            </span>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="tw-count-entities-data-view">
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <table class="table table-striped">
                        <thead th:fragment="tw-data-view-thead">
                        <tr>
                            <th><span th:text="${nameObject}">nameObject</span> ID</th>
                            <th><span th:text="${nameEntity}">nameEntity</span> ID</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="object2Entity : ${listObject2EntityContent}">
                            <td>
                                <span class="tw-vector">
                                    <i class="fa fa-database" aria-hidden="true"></i>
                                    <a href="/tweet/id" th:href="@{|/${nameObject}/${object2Entity.objectId}|}">
                                        <span th:text="${object2Entity.objectId}">objectId</span>
                                        <span th:text="${object2Entity.objectInfo}" class="tw-left-space">objectInfo</span>
                                    </a>
                                </span>
                            </td>
                            <td>
                                <span class="tw-vector">
                                    <i class="fa fa-database" aria-hidden="true"></i>
                                    <a href="/tweet/id" th:href="@{|/${nameEntity}/${object2Entity.entityId}|}">
                                        <span th:text="${object2Entity.entityId}">entityId</span>
                                        <span th:text="${object2Entity.entityInfo}" class="tw-left-space">entityInfo</span>
                                    </a>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot th:fragment="tw-data-view-tfoot">
                        <tr>
                            <th><span th:text="${nameObject}">nameObject</span> ID</th>
                            <th><span th:text="${nameEntity}">nameEntity</span> ID</th>
                        </tr>
                        </tfoot>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        <div th:fragment="tw-data-view-below">
            <div class="row">
                <div class="col-md-12">
                    <span class="tw-pager-arrow tw-pager-down" th:if="${listObject2Entity.hasNext()}">
                        <a href="" th:href="@{|/application/countedEntities/${nameObject}/${nameEntity}?page=${listObject2Entity.nextPageable().pageNumber}|}" >
                            <span>
                            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                            </span>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</main>

<section th:include="layoutMain :: tw-history-back-section" >
</section>

<footer th:include="layoutMain :: footer" >

</footer>
</body>
</html>
