<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<header th:include="layoutMain :: tw-header" ></header>
<main class="page-content">
    <div class="container">
        <div th:include="layoutUser :: tw-one-user" ></div>
        <div class="tw-pager-above" th:if="${latestTweets != null}">
            <div class="row">
                <div class="col-md-12">
                    <span  class="tw-pager-arrow tw-pager-up" th:if="${latestTweets.hasPrevious()}">
                        <a href="" th:href="@{|/user/tweets?page=${latestTweets.previousPageable().pageNumber}|}">
                            <span>
                            <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                            </span>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div th:include="layoutTweetList :: tw-tweet-list" ></div>
        <div class="tw-pager-below" th:if="${latestTweets != null}">
            <div class="row">
                <div class="col-md-12">
                    <span class="tw-pager-arrow tw-pager-down" th:if="${latestTweets.hasNext()}">
                        <a href="" th:href="@{|/user/tweets?page=${latestTweets.nextPageable().pageNumber}|}" >
                            <span>
                            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                            </span>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</main>

<section th:include="layoutMain :: tw-history-back-section" >
</section>

<footer th:include="layoutMain :: footer" >
</footer>
</body>
</html>
