<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head  th:include="layoutMain :: tw-head">
</head>
<body id="page-top" class="page-2" style="padding-top:50px; padding-bottom:200px;">
<header th:include="layoutMain :: tw-header" ></header>
<main class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Tweets HashTags</h3>
                <div class="well">
                    <span th:each="hashTag : ${hashTagsTweets}">
                        <a href="" th:href="@{|/hashtag/${hashTag.id}|}">
                            <span class="tw-vector tw-vector-hashtag-overview">
                                <span th:text="${hashTag.text}">hashTag</span>
                                <span class="badge">
                                    <span th:text="${hashTag.number}">number</span>
                                </span>
                            </span>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>User HashTags</h3>
                <div class="well">
                    <span th:each="hashTag : ${hashTagsUsers}">
                        <a href="" th:href="@{|/hashtag/${hashTag.id}|}">
                            <span class="tw-vector tw-vector-hashtag-overview">
                                <span th:text="${hashTag.text}">hashTag</span>
                                <span class="badge">
                                    <span th:text="${hashTag.number}">number</span>
                                </span>
                            </span>
                        </a>
                    </span>
                </div>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr />
            </div>
        </div>
    </div>
</main>

<section th:include="layoutMain :: tw-history-back-section" >
</section>

<footer th:include="layoutMain :: footer" >
</footer>
</body>
</html>
